.header {
  padding-top: 52px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 5px;
}

.logo {
  height: 52px;
  max-width: 284px;
}

.navigationDate {
  font-family: "Playfair Display", serif;
  font-size: 12px;
  line-height: 16px;
  color: #1d1d1b;
  text-align: center;
  margin-top: 12px;
  text-align: left;
}

.navigationDateNumber {
  font-size: 20px;
  line-height: 26.6px;
}

/*Footer */
.footer {
  color: #fff;
  background: #1d1d1b;
  padding: 40px 16px 32px 16px;
}

.newsweekMobileAppTitle {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 24px;
}

.mobileAppDescriptionWrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}

.mobileAppDescriptionLabel {
  font-size: 12px;
  line-height: 16px;
  max-width: 226px;
  color: #a5a5a4;
  font-style: normal;
  font-weight: 400;
}

.firstLabelWrapper {
  margin-bottom: 24px;
}

.mobileAppWrapper {
  padding-bottom: 36px;
}

.logosWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 32px;
}

img.appLogo {
  width: 114px;
  height: 40px;
}

.footerUnderlineWrapper::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #61615f;
  /* margin: 16px 0; */
  /* position: relative; */
  /* top: -1px; */
  /* z-index: 1; */
}

.footerUnderlineWrapper {
  margin-bottom: 24px;
}

.footerList {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0;
  padding-bottom: 24px;
}

.footerListItem {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.footerListItem > a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.footerListItem:not(:last-child) {
  margin: 0 20px 20px 0;
}

.footerListItem > a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.footerCopyright {
  font-family: "Noto Sans", sans-serif;
  color: #a5a5a4;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  /* padding-top: 40px; */
}

.footerCopyrightWrapper {
  position: relative;
  padding-top: 16px;
}

.footerCopyright::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #61615f;
  top: 0;
}

@media (min-width: 768px) {
  .footer {
    padding: 28px 16px;
  }

  .footerUnderlineWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 36px;
  }

  .logosWrapper {
    align-items: center;
  }

  .footerUnderlineWrapper::after {
    position: absolute;
    bottom: 0;
  }

  .footerMobileAppUnderlineWrapper {
    position: relative;
  }

  .mobileAppWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 36px;
    padding-bottom: 28px;
  }
  .newsweekMobileAppTitle {
    width: 138px;
    margin-bottom: 0;
  }

  .mobileAppDescriptionWrapper {
    /* width: 133px; */
    flex-basis: calc((100% - 10px) / 2);
  }

  .firstLabelWrapper {
    margin-bottom: 0;
  }

  .footerListItem {
    font-size: 14px;
    line-height: 20px;
    flex-basis: min-content;
  }

  .footerListItem:not(:last-child) {
    margin: 0;
  }

  .footerList {
    flex-wrap: nowrap;
    /* gap: 10px; */
    justify-content: space-between;
  }

  .footerCopyright {
    text-align: left;
  }

  img.appLogo {
    min-width: 114px;
  }
}

@media (min-width: 1275px) {
  .footerMobileAppUnderlineWrapper {
    max-width: 1275px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
  }
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .footerUnderlineWrapper {
    justify-content: space-between;
  }

  .newsweekMobileAppTitle {
    width: 100%;
  }

  .mobileAppDescriptionLabel {
    width: 226px;
  }

  .footerList {
    max-width: 1275px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
  }

  .footerCopyrightWrapper {
    max-width: 1275px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
  }
}
