.header {
  padding-top: 52px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 5px;
  z-index: 100;
}

.logo {
  height: 52px;
  max-width: 284px;
}

.navigationDate {
  font-family: "Playfair Display", serif;
  font-size: 12px;
  line-height: 16px;
  color: #1d1d1b;
  text-align: center;
  margin-top: 12px;
  text-align: left;
}

.navigationDateNumber {
  font-size: 20px;
  line-height: 26.6px;
}

.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 6px; */
  text-decoration: none;
  background-color: #fff;
  padding: 6px 16px;
  width: 133px;
  height: 34px;
}

.loginButton:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.loginButtonText {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #1d1d1b;
  margin-right: 6px;
  white-space: nowrap;
}

.buySubscriptionBtn {
  padding: 8px 10px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e80404;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  width: 133px;
  height: 34px;
}

.buySubscriptionBtn:hover {
  background-color: #8b0202;
  color: #fff;
}

.headerNavList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.headerNavListItem {
  position: relative;
  font-family: "Playfair Display", serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1px;
  color: #1d1d1b;
  text-decoration: none;
  min-height: 68px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: center;
  transition: color 0.2s ease-in-out;
  margin-left: 8px;
  margin-right: 8px;
}

.headerNavListItem:not(:first-child)::before {
  content: "|";
  position: absolute;
  left: -11px;
  top: 20px;
  font-size: 19px;
  font-weight: 300;
  color: #1d1d1b;
  pointer-events: none;
}

.headerNavListItemFirstLink {
  color: #e80404;
}

.headerNavListItemFirstLink::before {
  content: "";
  display: block;
  position: absolute;
  left: -28px;
  width: 24px;
  height: 24px;
  background: url(./header/headerNavListIcon.svg);
}

.headerNavListItemLink {
  text-decoration: none;
  color: inherit;
}

.headerNavListItem:hover {
  color: #e80404;
}

.headerNavListItemLink:hover {
  color: #e80404;
}

.headerButtonsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.searchIcon {
  min-width: 36px;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.header.is-sticky {
  position: fixed;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  /* padding: 8px 0; */
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 25px;
  /* backdrop-filter: blur(10px); */
  background-color: #ffffff;
  animation: slideDown 0.35s ease-out;
  top: 0;
  left: 0;
  width: 100%;
}

.header.is-sticky .logo {
  height: 20px;
  max-width: 110px;
}

.header.is-sticky .navigationDate {
  display: none;
}

.header.is-sticky .fixedHeaderLogoWrapper {
  display: flex;
  gap: 5px;
  margin-top: 16px;
}

.menuIconWrapper {
  display: none;
}

.menuIcon {
  width: 22px;
  height: 22px;
}

.header.is-sticky .menuIconWrapper {
  display: inline-block;
}

.headerElHidden {
  display: none;
}
/* .page-header.is-sticky img {
  max-width: 80%;
}
.page-header.is-sticky button {
  font-size: 14px;
  padding: 7px 10px;
} */

.navListAndSearchWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logoAndBtnWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .headerButtonsWrapper {
    justify-content: flex-start;
    gap: 10px;
  }
}

@media screen and (min-width: 800px) {
  .navListAndSearchWrapper {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .headerButtonsWrapper {
    gap: 10px;
    margin-top: 16px;
  }
  .logoAndBtnWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .headerNavList {
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .header:not(.is-sticky) .headerButtonsWrapper {
    position: absolute;
    right: 16px;
  }

  .header:not(.is-sticky) .logoAndBtnWrapper {
    justify-content: center;
  }

  .header:not(.is-sticky) .navigationDate {
    text-align: center;
  }
}

/*Footer */
.footer {
  color: #fff;
  background: #1d1d1b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* padding: 40px 16px 32px 16px; */
}

.newsweekMobileAppTitle {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 24px;
}

.mobileAppDescriptionWrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}

.mobileAppDescriptionLabel {
  font-size: 12px;
  line-height: 16px;
  max-width: 226px;
  color: #a5a5a4;
  font-style: normal;
  font-weight: 400;
}

.firstLabelWrapper {
  margin-bottom: 24px;
}

.mobileAppWrapper {
  padding-bottom: 36px;
}

.logosWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 32px;
}

img.appLogo {
  width: 114px;
  height: 40px;
}

.footerUnderlineWrapper::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #61615f;
  /* margin: 16px 0; */
  /* position: relative; */
  /* top: -1px; */
  /* z-index: 1; */
}

.footerUnderlineWrapper {
  margin-bottom: 24px;
}

.footerList {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0;
  padding-bottom: 24px;
}

.footerListItem {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.footerListItem > a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.footerListItem:not(:last-child) {
  margin: 0 20px 20px 0;
}

.footerListItem > a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.footerCopyright {
  font-family: "Noto Sans", sans-serif;
  color: #a5a5a4;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  /* padding-top: 40px; */
}

.footerCopyrightWrapper {
  position: relative;
  padding-top: 16px;
}

.footerCopyright::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #61615f;
  top: 0;
}

.footerLogo {
  height: 35px;
  width: 190px;
  margin: 0 auto;
  display: block;
}

.newsLetterBtn {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid #1d1d1b;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #1d1d1b;
  background: 0 0;
  padding: 10px 16px;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 28px;
}

.newsLetterBtn:hover {
  background: #e8e8e8;
}

.footerTopPartWrapper {
  padding-top: 40px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 40px;
}

.footerBgWrapper {
  background-color: #ffffff;
  color: rgb(29, 29, 27);
}

.socialList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.socialListLink:hover svg path {
  stroke: red;
}

.socialListLink:hover svg circle {
  fill: red;
}

.secondSocialListLink:hover svg path {
  fill: red;
}

.footerBorderContainer {
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.footerBorderLine {
  border-bottom: 1px solid #61615f;
}

.footerBorderTriangle {
  position: relative;
}

.footerBorderTriangle::before {
  content: "";
  width: 18px;
  height: 16px;
  position: absolute;
  right: 0;
  bottom: -16px;
  border-left: 1px solid #61615f;
}

.footerBorderTriangle::after {
  content: "";
  width: 24px;
  height: 1px;
  position: absolute;
  left: calc(100% - 21px);
  bottom: -9px;
  border-top: 1px solid #61615f;
  transform: rotate(138deg);
}

.footerNavigationWrapper {
  padding-top: 33px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 5px;
}

.footerNavigationListTitle {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 600;
  border-bottom: 1px solid #61615f;
  padding-bottom: 8px;
}

.footerNavigationListWrapper {
  width: 45%;
}

.footerNavigationListItem {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgb(29, 29, 27);
  margin-bottom: 20px;
}

.footerNavigationListItem a {
  color: initial;
}

.footerBgContainer {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .footerUnderlineWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 36px;
  }

  .logosWrapper {
    align-items: center;
  }

  .footerUnderlineWrapper::after {
    position: absolute;
    bottom: 0;
  }

  .footerMobileAppUnderlineWrapper {
    position: relative;
  }

  .mobileAppWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 36px;
    padding-bottom: 28px;
  }
  .newsweekMobileAppTitle {
    width: 138px;
    margin-bottom: 0;
  }

  .mobileAppDescriptionWrapper {
    /* width: 133px; */
    flex-basis: calc((100% - 10px) / 2);
  }

  .firstLabelWrapper {
    margin-bottom: 0;
  }

  .footerListItem {
    font-size: 14px;
    line-height: 20px;
    flex-basis: min-content;
  }

  .footerListItem:not(:last-child) {
    margin: 0;
  }

  .footerList {
    flex-wrap: nowrap;
    /* gap: 10px; */
    justify-content: space-between;
  }

  .footerCopyright {
    text-align: left;
  }

  img.appLogo {
    min-width: 114px;
  }

  .footerLogoAndSocialWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footerLogo {
    height: 52px;
    width: 284px;
    margin: 0;
  }

  .footerSocialWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }

  .newsLetterBtn {
    margin-top: 0;
    margin-bottom: 0;
  }

  ul.socialList {
    margin-bottom: 0;
  }

  .footerLogoAndSocialWrapper {
    margin-bottom: 30px;
  }

  .footerBorderContainer {
    padding-left: 0;
    padding-right: 0;
  }

  .footerNavigationListWrapper {
    width: unset;
  }

  .footerNavigationWrapper {
    justify-content: space-between;
  }

  .footerNavigationListTitle {
    font-size: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .footerSocialWrapper {
    gap: 15px;
  }
}

@media screen and (min-width: 1275px) {
  .footerMobileAppUnderlineWrapper {
    max-width: 1275px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
  }
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .footerUnderlineWrapper {
    justify-content: space-between;
  }

  .newsweekMobileAppTitle {
    width: 100%;
  }

  .mobileAppDescriptionLabel {
    width: 226px;
  }

  .footerList {
    max-width: 1275px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
  }

  .footerCopyrightWrapper {
    max-width: 1275px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
  }

  .footerTopPartWrapper {
    width: 1275px;
    margin: 0 auto;
  }
}
